In [ ]:
# Importing Libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st
import requests 
import time 
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

# Loading CSV file
df=pd.read_csv("Levels_Fyi_Salary_Data.csv", delimiter=",")
df.info()
df.head(60)

In [ ]:
#Connor
# take the location column and seperate state and city and index them, take min/max of base salary/totalyearlycompensation 

#removing salaries of "0"
df_cleaned = df[df['basesalary'] != 0]
df_cleaned.head(20)
df_cleaned['basesalary'].min()
df_cleaned['basesalary'].max()
df_cleaned['totalyearlycompensation'].min()
df_cleaned['totalyearlycompensation'].max()

#created a cleaner DF that created invidual lists of each company and their average salary
#note: some companies are still repeated more than once (IE: "7-Eleven" & "7-eleven",etc)

#company_data = "../Levels_Fyi_Salary_Data.csv"

company_name = df_cleaned.set_index('company').groupby(['company'])
                                
average_salary = company_name['basesalary'].mean()

average_total_salary = company_name['totalyearlycompensation'].mean()
                                       
company_summary_df = pd.DataFrame({
    "Company Name": company_name,
    "Average Total Salary": average_total_salary,
    "Average Salary": average_salary,
   
})

company_summary_df = company_summary_df[['Average Salary', 'Average Total Salary']]


#cleaning the DF
company_summary_df.style.format({
    "Average Salary": "${:,.2f}",
    "Average Total Salary": "${:,.2f}",
})

company_summary_df['Average Salary'].min()
print (f"The lowest average salary is )
company_summary_df['Average Salary'].max()

In [ ]:
#take base salary/totalyearlycompensation

In [ ]:
#group by company and min/ max yearly compensation

In [ ]:
#Education compared to salary/totalyearlycompensation

In [ ]:
#Alfredo
#years of experience/ years at company and comparison to yearly compensation
df_exp = pd.DataFrame(df,columns=["yearsofexperience","yearsatcompany","basesalary","stockgrantvalue","bonus","totalyearlycompensation"])
print(df_exp["totalyearlycompensation"].min())
print(df_exp["totalyearlycompensation"].max())
print(df_exp["yearsatcompany"].min())
print(df_exp["yearsatcompany"].max())
yearlycomp=df_exp["totalyearlycompensation"]
industryyears=df_exp["yearsofexperience"]
companyyears=df_exp["yearsatcompany"]
df_exp.head()
plt.scatter(companyyears,yearlycomp,marker="o", facecolors="red", edgecolors="black")
plt.scatter(industryyears,yearlycomp,marker="o", facecolors="red", edgecolors="black")
#Find and remove the outliers of both years and pay (Maybe top 100?)
#Check if other columns are usable and, if so, remove the zeroes from them

In [ ]:
plt.scatter(industryyears,yearlycomp,marker="o", facecolors="red", edgecolors="black")

In [ ]:
#Neel
#male/ female convert to usable data and compare to yearly compensation
df.columns
df['gender'].unique()
df['title'].unique()

In [ ]:
# Filtered DataFrame to only include Gender , Job Title, Base Salary, & Yearly Compensation. (4 Columns)
gender_df = df[["gender", "title", "company", "basesalary", "totalyearlycompensation"]]
#gender_df

# Remove NaN values from Gender and remove base salaries that are 0
gender_df = gender_df.dropna()
filt_gender_df = gender_df.loc[gender_df["basesalary"] > 0, ["gender", "title", "company", "basesalary", "totalyearlycompensation"]]
#filt_gender_df.sort_values(by=['gender'])

# Remove 'Title: Senior Software Engineer'
filt_gender_df = filt_gender_df.drop(index=11010)
filt_gender_df.reset_index(drop  = True)

In [ ]:
# Pie Chart of Genders in STEMS
gender = ['Male', 'Female', 'Other']
count = filt_gender_df['gender'].value_counts()
colors = ['coral', 'plum', 'silver']
explode = (0, 0.05, 0.1)

plt.title("Gender in STEM")
plt.pie(count, explode=explode, labels = gender, colors = colors, autopct = "%1.1f%%", shadow = True)
plt.axis("equal")
plt.show
plt.savefig("output_images/Genders_In_Stem.png")

In [ ]:
x_axis = gender
y_axis = count
plt.bar(x_axis, y_axis, color = 'blue')
plt.title("Gender in STEM")
plt.show
plt.savefig("output_images/Genders_In_Stem_BarGraph")

In [ ]:
title = df["title"].value_counts()[0:15].reset_index()
title.columns = ["Job", "Count"]
title

In [ ]:
sns.catplot(x="Count", y="Job", kind="bar", data=title, height=6, aspect=3)
plt.grid(True)
plt.title("Jobs in STEM")
plt.show
plt.savefig("output_images/Jobs_in_STEM")

In [ ]:
sns.barplot(x = filt_gender_df.gender, y = filt_gender_df.basesalary);
plt.title("Gender vs Base Salary")
plt.xlabel("Gender")
plt.ylabel("Base Salary")
plt.show
plt.savefig("output_images/Gender_vs_BaseSalary");

In [ ]:
sns.barplot(x = filt_gender_df.gender, y = filt_gender_df.totalyearlycompensation);
plt.title("Gender vs Total Yearly Compensation")
plt.xlabel("Gender")
plt.ylabel("Total Yearly Compensation")
plt.show
plt.savefig("output_images/Gender_vs_TotalYearlyCompensation");