In [ ]:
%matplotlib notebook
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st
import requests 
import time 
df=pd.read_csv("Levels_Fyi_Salary_Data.csv", delimiter=",")
df.info()
df.head(60)

In [ ]:
#Connor
# take the location column and seperate state and city and index them, take min/max of base salary/totalyearlycompensation 

#removing salaries of "0"
df_cleaned = df[df['basesalary'] != 0]
df_cleaned.head(20)
df_cleaned['basesalary'].min()
df_cleaned['basesalary'].max()
df_cleaned['totalyearlycompensation'].min()
df_cleaned['totalyearlycompensation'].max()

#created a cleaner DF that created invidual lists of each company and their average salary
#note: some companies are still repeated more than once (IE: "7-Eleven" & "7-eleven",etc)

#company_data = "../Levels_Fyi_Salary_Data.csv"

company_name = df_cleaned.set_index('company').groupby(['company'])
                                
average_salary = company_name['basesalary'].mean()

average_total_salary = company_name['totalyearlycompensation'].mean()
                                       
company_summary_df = pd.DataFrame({
    "Company Name": company_name,
    "Average Total Salary": average_total_salary,
    "Average Salary": average_salary,
   
})

company_summary_df = company_summary_df[['Average Salary', 'Average Total Salary']]


#cleaning the DF
company_summary_df.style.format({
    "Average Salary": "${:,.2f}",
    "Average Total Salary": "${:,.2f}",
})

company_summary_df['Average Salary'].min()
print (f"The lowest average salary is )
company_summary_df['Average Salary'].max()

In [ ]:
#take base salary/totalyearlycompensation

In [ ]:
#group by company and min/ max yearly compensation

In [ ]:
#Education compared to salary/totalyearlycompensation

In [ ]:
#Alfredo
#years of experience/ years at company and comparison to yearly compensation

In [ ]:
#Neel
#male/ female convert to usable data and compare to yearly compensation