In [ ]:
# Importing Libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st
import requests 
import time 

# Reading CSV File
df=pd.read_csv("Levels_Fyi_Salary_Data.csv", delimiter=",")
df.head()

In [ ]:
df.info()

In [ ]:
df.columns

In [ ]:
# take the location column and seperate state and city and index them, take min/max of base salary/totalyearlycompensation

In [ ]:
# take base salary/totalyearlycompensation

In [ ]:
# group by company and min/ max yearly compensation

In [ ]:
# Education compared to salary/totalyearlycompensation

In [ ]:
# years of experience/ years at company and comparison to yearly compensation

In [ ]:
# male/ female convert to usable data and compare to yearly compensation
df['gender'].unique()

In [ ]:
# Filtered DataFrame to only include Gender , Job Title, Base Salary, & Yearly Compensation. (4 Columns)
gender_df = df[["gender", "title", "basesalary", "totalyearlycompensation"]]
#gender_df

# Remove NaN values from Gender and remove base salaries that are 0
gender_df = gender_df.dropna()
filt_gender_df = gender_df.loc[gender_df["basesalary"] > 0, ["gender", "title", "basesalary", "totalyearlycompensation"]]
#filt_gender_df.sort_values(by=['gender'])

# Remove 'Title: Senior Software Engineer'
filt_gender_df = filt_gender_df.drop(index=11010)
filt_gender_df.reset_index(drop  = True)

In [ ]:
# Pie Chart of Genders in STEMS
gender = ['Male', 'Female', 'Other']
count = filt_gender_df['gender'].value_counts()
colors = ['coral', 'plum', 'silver']
explode = (0, 0.05, 0.1)

plt.title("STEM Genders")
plt.pie(count, explode=explode, labels = gender, colors = colors, autopct = "%1.1f%%", shadow = True)
plt.axis("equal")
plt.show
count