In [1]:
%matplotlib notebook
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st
import requests 
import time 
df=pd.read_csv("Levels_Fyi_Salary_Data.csv", delimiter=",")
df.info()
df.head(60)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62642 entries, 0 to 62641
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   timestamp                62642 non-null  object
 1   company                  62637 non-null  object
 2   level                    62523 non-null  object
 3   title                    62642 non-null  object
 4   totalyearlycompensation  62642 non-null  int64
 5   location                 62642 non-null  object
 6   yearsofexperience        62642 non-null  float64
 7   yearsatcompany           62642 non-null  float64
 8   tag                      61788 non-null  object
 9   basesalary               62642 non-null  int64
 10  stockgrantvalue          62642 non-null  float64
 11  bonus                    62642 non-null  float64
 12  gender                   43102 non-null  object
 13  otherdetails             40137 non-null  object
 14  cityid                   62642 non-null  int64
 15  dmaid                    62640 non-null  float64
 16  rowNumber                62642 non-null  int64
 17  Masters_Degree           62642 non-null  int64
 18  Bachelors_Degree         62642 non-null  int64
 19  Doctorate_Degree         62642 non-null  int64
 20  Highschool               62642 non-null  int64
 21  Some_College             62642 non-null  int64
 22  Race_Asian               62642 non-null  int64
 23  Race_White               62642 non-null  int64
 24  Race_Two_Or_More         62642 non-null  int64
 25  Race_Black               62642 non-null  int64
 26  Race_Hispanic            62642 non-null  int64
 27  Race                     22427 non-null  object
 28  Education                30370 non-null  object
dtypes: float64(5), int64(14), object(10)
memory usage: 13.9+ MB

,timestamp,company,level,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,tag,basesalary,...,Doctorate_Degree,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,Race,Education
0,6/7/2017 11:33,Oracle,L3,Product Manager,127000,"Redwood City, CA",1.5,1.50,NaN,107000,...,0,0,0,0,0,0,0,0,NaN,NaN
1,6/10/2017 17:11,eBay,SE 2,Software Engineer,100000,"San Francisco, CA",5.0,3.00,NaN,0,...,0,0,0,0,0,0,0,0,NaN,NaN
2,6/11/2017 14:53,Amazon,L7,Product Manager,310000,"Seattle, WA",8.0,0.00,NaN,155000,...,0,0,0,0,0,0,0,0,NaN,NaN
3,6/17/2017 0:23,Apple,M1,Software Engineering Manager,372000,"Sunnyvale, CA",7.0,5.00,NaN,157000,...,0,0,0,0,0,0,0,0,NaN,NaN
4,6/20/2017 10:58,Microsoft,60,Software Engineer,157000,"Mountain View, CA",5.0,3.00,NaN,0,...,0,0,0,0,0,0,0,0,NaN,NaN
5,6/21/2017 17:27,Microsoft,63,Software Engineer,208000,"Seattle, WA",8.5,8.50,NaN,0,...,0,0,0,0,0,0,0,0,NaN,NaN
6,6/22/2017 12:37,Microsoft,65,Software Engineering Manager,300000,"Redmond, WA",15.0,11.00,NaN,180000,...,0,0,0,0,0,0,0,0,NaN,NaN
7,6/22/2017 13:55,Microsoft,62,Software Engineer,156000,"Seattle, WA",4.0,4.00,NaN,135000,...,0,0,0,0,0,0,0,0,NaN,NaN
8,6/22/2017 23:08,Microsoft,59,Software Engineer,120000,"Redmond, WA",3.0,1.00,NaN,0,...,0,0,0,0,0,0,0,0,NaN,NaN
9,6/26/2017 21:25,Microsoft,63,Software Engineer,201000,"Seattle, WA",12.0,6.00,NaN,157000,...,0,0,0,0,0,0,0,0,NaN,NaN
10,6/30/2017 16:29,Salesforce,9,Software Engineering Manager,450000,"San Francisco, CA",16.0,3.00,NaN,230000,...,0,0,0,0,0,0,0,0,NaN,NaN
11,7/2/2017 14:16,Microsoft,Sde 2,Software Engineer,155000,"Bellevue, WA",5.0,3.00,NaN,126000,...,0,0,0,0,0,0,0,0,NaN,NaN
12,7/3/2017 19:28,Microsoft,63,Product Manager,150000,"Redmond, WA",10.0,10.00,NaN,0,...,0,0,0,0,0,0,0,0,NaN,NaN
13,7/7/2017 22:29,Microsoft,63,Software Engineer,191000,"Seattle, WA",7.0,7.00,NaN,152000,...,0,0,0,0,0,0,0,0,NaN,NaN
14,7/14/2017 21:36,Amazon,L6,Software Engineering Manager,287000,"Seattle, WA",12.0,1.00,NaN,160000,...,0,0,0,0,0,0,0,0,NaN,NaN
15,7/16/2017 16:50,Amazon,L5,Software Engineer,218000,"Seattle, WA",10.0,0.00,NaN,150000,...,0,0,0,0,0,0,0,0,NaN,NaN
16,7/20/2017 22:35,Facebook,E3,Software Engineer,168000,"Menlo Park, CA",1.0,1.00,NaN,0,...,0,0,0,0,0,0,0,0,NaN,NaN
17,7/22/2017 22:20,Uber,5a,Software Engineer,160000,"San Francisco, CA",9.0,1.00,NaN,0,...,0,0,0,0,0,0,0,0,NaN,NaN
18,7/24/2017 12:21,Apple,L4,Software Engineer,50000,"London, EN, United Kingdom",2.0,2.00,NaN,0,...,0,0,0,0,0,0,0,0,NaN,NaN
19,7/24/2017 23:14,Microsoft,64,Software Engineer,195000,"Redmond, WA",9.0,9.00,NaN,0,...,0,0,0,0,0,0,0,0,NaN,NaN
20,7/25/2017 14:44,Oath,IC4,Software Engineer,155000,"Sunnyvale, CA",8.0,7.00,NaN,125000,...,0,0,0,0,0,0,0,0,NaN,NaN
21,7/29/2017 19:56,Microsoft,67,Software Engineering Manager,462000,"Bellevue, WA",15.0,15.00,NaN,240000,...,0,0,0,0,0,0,0,0,NaN,NaN
22,7/31/2017 15:54,Amazon,L6,Software Engineer,300000,"Seattle, WA",12.0,12.00,NaN,158000,...,0,0,0,0,0,0,0,0,NaN,NaN
23,7/31/2017 15:55,Amazon,L7,Software Engineer,430000,"Seattle, WA",12.0,12.00,NaN,220000,...,0,0,0,0,0,0,0,0,NaN,NaN
24,8/1/2017 13:46,Microsoft,64,Software Engineering Manager,220000,"Seattle, WA",17.0,6.00,NaN,0,...,0,0,0,0,0,0,0,0,NaN,NaN
25,8/4/2017 11:04,Microsoft,65,Product Manager,250000,"Redmond, WA",14.0,1.00,NaN,180000,...,0,0,0,0,0,0,0,0,NaN,NaN
26,8/6/2017 22:23,Apple,Ict3,Software Engineer,200000,"Cupertino, CA",3.0,2.00,NaN,140000,...,0,0,0,0,0,0,0,0,NaN,NaN
27,8/6/2017 22:26,Microsoft,63,Product Manager,190000,"Seattle, WA",6.0,6.00,NaN,150000,...,0,0,0,0,0,0,0,0,NaN,NaN
28,8/7/2017 2:08,Google,L4,Software Engineer,300000,"Mountain View, CA",8.0,4.00,NaN,155000,...,0,0,0,0,0,0,0,0,NaN,NaN
29,8/7/2017 11:19,Google,T6,Software Engineer,440000,"New York, NY",14.0,12.00,NaN,0,...,0,0,0,0,0,0,0,0,NaN,NaN
30,8/8/2017 5:54,Amazon,L5,Software Engineering Manager,205000,"Seattle, WA",12.0,7.00,NaN,138000,...,0,0,0,0,0,0,0,0,NaN,NaN
31,8/8/2017 14:14,Netflix,Senior Software Engineer,Software Engineer,340000,"Los Gatos, CA",4.0,2.00,NaN,340000,...,0,0,0,0,0,0,0,0,NaN,NaN
32,8/10/2017 18:05,Apple,ICT2,Software Engineer,120000,"Cupertino, CA",5.0,2.00,NaN,95000,...,0,0,0,0,0,0,0,0,NaN,NaN
33,8/13/2017 10:57,Amazon,L5,Software Engineer,170000,"Dublin, DN, Ireland",9.0,2.00,NaN,93000,...,0,0,0,0,0,0,0,0,NaN,NaN
34,8/16/2017 19:25,Amazon,L4,Software Engineer,161000,"Seattle, WA",7.0,2.00,NaN,0,...,0,0,0,0,0,0,0,0,NaN,NaN
35,8/17/2017 12:45,Microsoft,65,Software Engineer,342000,"Redmond, WA",8.0,1.00,NaN,202000,...,0,0,0,0,0,0,0,0,NaN,NaN
36,8/18/2017 21:57,Apple,ICT3,Software Engineer,200000,"Cupertino, CA",7.0,0.00,NaN,0,...,0,0,0,0,0,0,0,0,NaN,NaN
37,8/20/2017 1:20,Salesforce,Senior,Product Manager,210000,"San Francisco, CA",8.0,1.00,NaN,166000,...,0,0,0,0,0,0,0,0,NaN,NaN
38,8/22/2017 18:42,Microsoft,66,Product Manager,325000,"Redmond, WA",20.0,9.00,NaN,191000,...,0,0,0,0,0,0,0,0,NaN,NaN
39,8/23/2017 16:49,Microsoft,69,Software Engineer,910000,"Redmond, WA",28.0,17.00,NaN,270000,...,0,0,0,0,0,0,0,0,NaN,NaN
40,8/24/2017 7:22,Amazon,L5,Software Engineer,250000,"San Francisco, CA",12.0,1.00,NaN,160000,...,0,0,0,0,0,0,0,0,NaN,NaN
41,8/24/2017 18:01,Uber,Senior Software Engineer 2 (5b),Software Engineer,520000,"San Francisco, CA",13.0,2.00,NaN,200000,...,0,0,0,0,0,0,0,0,NaN,NaN
42,8/24/2017 23:13,Amazon,L6,Software Engineering Manager,298000,"Seattle, WA",12.0,1.25,NaN,160000,...,0,0,0,0,0,0,0,0,NaN,NaN
43,8/24/2017 23:55,eBay,Senior Member of Technical Staff,Software Engineer,350000,"Seattle, WA",12.0,3.00,NaN,215000,...,0,0,0,0,0,0,0,0,NaN,NaN
44,8/29/2017 22:13,Oath,IC4,Software Engineer,200000,"Sunnyvale, CA",5.0,1.00,NaN,0,...,0,0,0,0,0,0,0,0,NaN,NaN
45,8/31/2017 8:43,Oath,IC2,Software Engineer,88000,"Baltimore, MD",5.0,1.00,NaN,0,...,0,0,0,0,0,0,0,0,NaN,NaN
46,9/1/2017 12:09,Salesforce,Lead MTS,Software Engineer,320000,"San Francisco, CA",4.0,1.00,NaN,210000,...,1,0,0,0,0,0,0,0,NaN,PhD
47,9/1/2017 23:17,Pinterest,L5,Software Engineer,410000,"San Francisco, CA",10.0,1.00,NaN,0,...,0,0,0,0,0,0,0,0,NaN,NaN
48,9/4/2017 14:17,Facebook,E4,Software Engineer,190000,"Menlo Park, CA",1.0,1.00,NaN,140000,...,0,0,0,0,0,0,0,0,NaN,NaN
49,9/4/2017 18:42,Amazon,L6,Product Manager,170000,"Seattle, WA",9.0,2.00,NaN,123000,...,0,0,0,0,0,0,0,0,NaN,NaN
50,9/6/2017 15:38,Amazon,L6,Product Manager,270000,"Seattle, WA",19.0,3.00,NaN,150000,...,0,0,0,0,0,0,0,0,NaN,NaN
51,9/7/2017 15:55,Apple,ICT3,Software Engineer,150000,"Cupertino, CA",3.0,3.00,NaN,0,...,0,0,0,0,0,0,0,0,NaN,NaN
52,9/8/2017 13:55,Amazon,L6,Product Manager,195000,"Seattle, WA",9.0,2.00,NaN,0,...,0,0,0,0,0,0,0,0,NaN,NaN
53,9/8/2017 13:57,Linkedin,Software Engineer,Software Engineer,184000,"San Francisco, CA",5.0,2.00,NaN,124000,...,0,0,0,0,0,0,0,0,NaN,NaN
54,9/8/2017 16:41,Amazon,L6,Product Manager,270000,"Seattle, WA",6.0,2.00,NaN,160000,...,0,0,0,0,0,0,0,0,NaN,NaN
55,9/8/2017 18:11,Amazon,L4,Software Engineer,132000,"Seattle, WA",0.5,0.50,NaN,0,...,0,0,0,0,0,0,0,0,NaN,NaN
56,9/8/2017 20:32,Amazon,5,Product Manager,120000,"Seattle, WA",3.0,3.00,NaN,72000,...,0,0,0,0,0,0,0,0,NaN,NaN
57,9/8/2017 22:05,Amazon,L6,Software Engineering Manager,325000,"Seattle, WA",6.0,4.00,NaN,160000,...,0,0,0,0,0,0,0,0,NaN,NaN
58,9/8/2017 22:42,Amazon,L5,Software Engineer,188000,"Seattle, WA",4.0,4.00,NaN,124000,...,0,0,0,0,0,0,0,0,NaN,NaN
59,9/8/2017 23:40,Amazon,5,Software Engineer,172000,"Seattle, WA",2.0,2.00,NaN,132000,...,0,0,0,0,0,0,0,0,NaN,NaN

In [2]:
#Connor
# take the location column and seperate state and city and index them, take min/max of base salary/totalyearlycompensation 

#removing salaries of "0"
df_cleaned = df[df['basesalary'] != 0]
df_cleaned.head(20)
df_cleaned['basesalary'].min()
df_cleaned['basesalary'].max()
df_cleaned['totalyearlycompensation'].min()
df_cleaned['totalyearlycompensation'].max()

#created a cleaner DF that created invidual lists of each company and their average salary
#note: some companies are still repeated more than once (IE: "7-Eleven" & "7-eleven",etc)

#company_data = "../Levels_Fyi_Salary_Data.csv"

company_name = df_cleaned.set_index('company').groupby(['company'])
                                
average_salary = company_name['basesalary'].mean()

average_total_salary = company_name['totalyearlycompensation'].mean()
                                       
company_summary_df = pd.DataFrame({
    "Company Name": company_name,
    "Average Total Salary": average_total_salary,
    "Average Salary": average_salary,
   
})

company_summary_df = company_summary_df[['Average Salary', 'Average Total Salary']]


#cleaning the DF
company_summary_df.style.format({
    "Average Salary": "${:,.2f}",
    "Average Total Salary": "${:,.2f}",
})

company_summary_df['Average Salary'].min()
print (f"The lowest average salary is )
company_summary_df['Average Salary'].max()

In [ ]:
#take base salary/totalyearlycompensation

In [ ]:
#group by company and min/ max yearly compensation

In [ ]:
#Education compared to salary/totalyearlycompensation

In [ ]:
#Alfredo
#years of experience/ years at company and comparison to yearly compensation
df_exp = pd.DataFrame(df,columns=["yearsofexperience","yearsatcompany","basesalary","stockgrantvalue","bonus","totalyearlycompensation"])
print(df_exp["totalyearlycompensation"].min())
print(df_exp["totalyearlycompensation"].max())
print(df_exp["yearsatcompany"].min())
print(df_exp["yearsatcompany"].max())
yearlycomp=df_exp["totalyearlycompensation"]
industryyears=df_exp["yearsofexperience"]
companyyears=df_exp["yearsatcompany"]
df_exp.head()
plt.scatter(companyyears,yearlycomp,marker="o", facecolors="red", edgecolors="black")
plt.scatter(industryyears,yearlycomp,marker="o", facecolors="red", edgecolors="black")
#Find and remove the outliers of both years and pay (Maybe top 100?)
#Check if other columns are usable and, if so, remove the zeroes from them

In [ ]:
plt.scatter(industryyears,yearlycomp,marker="o", facecolors="red", edgecolors="black")

In [ ]:
#Neel
#male/ female convert to usable data and compare to yearly compensation
df.columns
df['gender'].unique()

In [ ]:
# Filtered DataFrame to only include Gender , Job Title, Base Salary, & Yearly Compensation. (4 Columns)
gender_df = df[["gender", "title", "basesalary", "totalyearlycompensation"]]
#gender_df

# Remove NaN values from Gender and remove base salaries that are 0
gender_df = gender_df.dropna()
filt_gender_df = gender_df.loc[gender_df["basesalary"] > 0, ["gender", "title", "basesalary", "totalyearlycompensation"]]
#filt_gender_df.sort_values(by=['gender'])

# Remove 'Title: Senior Software Engineer'
filt_gender_df = filt_gender_df.drop(index=11010)
filt_gender_df.reset_index(drop  = True)

In [ ]:
# Pie Chart of Genders in STEMS
gender = ['Male', 'Female', 'Other']
count = filt_gender_df['gender'].value_counts()
colors = ['coral', 'plum', 'silver']
explode = (0, 0.05, 0.1)

plt.title("STEM Genders")
plt.pie(count, explode=explode, labels = gender, colors = colors, autopct = "%1.1f%%", shadow = True)
plt.axis("equal")
plt.show
plt.savefig("output_images/Genders_In_Stem.png")
count